.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.size {
    min-width: 1000px;
}

.spacer {
    flex: 1;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }